body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

h2 {
  color: #555;
  margin-top: 0;
}

p {
  font-size: 1.2rem;
}

button {
  background-color: #2563eb;
  color: white;

  border: none;
  border-radius: 8px;

  padding: 12px 24px;
  font-size: 18px;

  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  opacity: 0.9;
}
